# Ignore node_modules directory
node_modules/

# Ignore logs
*.log

# Ignore environment variables file (to avoid exposing secrets)
.env

# Ignore operating system files
.DS_Store

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore build directories
/dist/
/build/

# Ignore npm and yarn lock files (optional)
package-lock.json
yarn.lock

# Ignore test and coverage directories
/test/
/coverage/
